In [1]:
## nested if else  -->>  conditoin with in condition 

# x=10
# x>5
# x<20
# x>20

In [125]:
age=int(input("enter the vale"))
city=str(input("enter the city"))

if(age>=18):
    print("greater than 18")
elif(age<18):
    print("less than 18")
if(city=="jaipur"):
    print("belong to jaipur")
else:
    print("not belong to jaipur")

enter the vale 21
enter the city jaipur

greater than 18
belong to jaipur

In [1]:
#loop 
totel=0
for i in range(2,10):
    totel+=i
print(totel)

44

In [11]:
num=int(input("enter the number"))
if(num%2==0 and num%6==0):
    print("this number is devided by 2 and 6")
else:
    print("this number is not devided by 2 and 6")

enter the number 23

this number is not devided by 2 and 6

In [15]:
totel=1
for i in range(60,40,-1):
    totel*=i
    print(totel)

60
3540
205320
11703240
655381440
36045979200
1946482876800
103163592470400
5364506808460800
273589847231500800
13679492361575040000
670295125717176960000
32174166034424494080000
1512185803617951221760000
69560546966425756200960000
3130224613489159029043200000
137729882993522997277900800000
5922384968721488882949734400000
248740168686302533083888844800000
10198346916138403856439442636800000

In [15]:
totel=1
for i in range(70, 50,-1):
    totel*=i
    print(totel)

70
4830
328440
22005480
1452361680
94403509200
6041824588800
380634949094400
23599366843852800
1439561377475020800
86373682648501248000
5096047276261573632000
295570742023171270656000
16847532295320762427392000
943461808537962695933952000
51890399469587948276367360000
2802081571357749206923837440000
148510323281960707966963384320000
7722536810661956814282095984640000
393849377343759797528386895216640000

In [19]:
for i in range(2,25):
    if(i%2==0):
       print(i," is even number")
    else:
        print(i," is odd number")

2  is even number
3  is odd number
4  is even number
5  is odd number
6  is even number
7  is odd number
8  is even number
9  is odd number
10  is even number
11  is odd number
12  is even number
13  is odd number
14  is even number
15  is odd number
16  is even number
17  is odd number
18  is even number
19  is odd number
20  is even number
21  is odd number
22  is even number
23  is odd number
24  is even number

In [62]:

even_sum=0
odd_sum=0
for num in range(2,21):
    if(num%2==0):
        even_sum+=num
    else:
        odd_sum+=num
print("sum of even number is" ,even_sum)
print("sum of odd number is" ,odd_sum)

sum of even number is 110
sum of odd number is 99

In [29]:
sum_even=0
sum_odd=0
for i in range(2,16):
    if(i%2==0):
        sum_even+=i
    else:
        sum_odd+=i
print(f"sum of even is {sum_even}")
print(f"sum of odd is {sum_odd}")

sum of even is 56
sum of odd is 63

In [77]:
even=0
odd=0
for i in range(2,23):
    if(i%2==0):
        even+=i

    else:
        odd+=i
print("sum of  odd number is", odd)
print("sum of even numner is",even)

sum of  odd number is 120
sum of even numner is 132

In [91]:
x=10
tot=0
while(x<=18):
    tot+=x
    x+=1
print("sum of 10 to 18 is, ", tot)

sum of 10 to 18 is,  126

In [37]:
totel=0
x=10
while(x<18):
    totel+=x
    x=x+1
print(totel)

108

In [104]:
count=0
num=1
while(count<15):
    if(num%6==0):
        print(num)
        count=count+1
    num+=1

6
12
18
24
30
36
42
48
54
60
66
72
78
84
90

In [34]:
print("hello")

hello

In [ ]:
## assingment questions -->>

In [9]:
# 1. Write a program to print all natural numbers from 1 to n. â€“ using while
# loop

n=1
while(n<10):
    print(n)
    n=n+1

1
2
3
4
5
6
7
8
9

In [10]:
# 2. Write a program to print all natural numbers in reverse (from n to 1). â€“
# using while loop

n=10
while(n>0):
    print(n)
    n=n-1

10
9
8
7
6
5
4
3
2
1

In [24]:
print("yuuu")

yuuu

In [36]:
# 4. Write a program to print all even numbers between 1 to 100. â€“ using
# while loop


x=1
while(x<30):
    if(x%2==0):
        print(x)
    x+=1

2
4
6
8
10
12
14
16
18
20
22
24
26
28

In [39]:
# 3. Write a program to print all alphabets from a to z. â€“ using while loop

alphabet=ord('a')
while(alphabet <= ord('z')):
    print(chr(alphabet),end=" ")
    alphabet+=1

a b c d e f g h i j k l m n o p q r s t u v w x y z

In [60]:
ord('z')

122

In [1]:
# 5. Write a program to find the sum of all odd numbers between 1 to n.

sum=0
num=1
while(num<=15):
    if(num%2!=0):
        sum=sum+num
    num+=1
print(sum)

64

In [80]:
# 6. Write a program to count the number of digits in a number.

count=0
if(count == 0):
    num = 1
else:
    while(count != 0):
        num=num // 10
        count+=1
# print("number of didgit is",count)
print(f"number of digit is",{count})

number of digit is {0}

In [122]:
# 7. Write a program to calculate the sum of digits of a number.

num=int(input("enter the number"))
sum_digit=0
while(num!=0):
    digit=num%10
    sum_digit+=digit
    num=num//10
print("sun of digit is",sum_digit)

enter the number 1234

sun of digit is 10

In [132]:
# 8. Write a program to find the first and last digit of a number.

In [151]:
# 9.  Write a program to find the sum of first and last digit of a number.

number=(input("enter the number"))
print("sum of first and last digit is ",int(number[0])+int(number[-1]))

enter the number 54533

sum of first and last digit is  8

In [161]:
# 10.Write a program to enter a number and print its reverse.

number=(input("enter a number"))

print("reversed number is ",number[::-1])

enter a number 165242

reversed number is  242561

In [1]:
# 11.Write a program to find the power of a number using for loop.

base=int(input("enter the base"))
expo=int(input("enter the expo"))
result=1
for x in range(expo):
    result*=base
print(f"{base} ^ {expo} = {result}")

enter the base 3
enter the expo 4

3 ^ 4 = 81

In [34]:
## armstrong number  -->.
# 18.Write a program to check whether a number is an Armstrong number or not -->>


num=int(input("enter a number"))
sum=0
temp=num
while(num>0):
    rem=num%10
    sum=sum+rem**3
    num=num//10
if(sum== temp):
    print("armstrong number")
else:
    print(" not armstrong number")

enter a number 123

 not armstrong number

In [60]:
# 7**3
# 3**3
# 0**0

In [66]:
1%10

1

In [30]:
## polendrome numner -->.

num=int(input("enter a number"))
sum=0
temp=num
while(num>0):
    rem=num%10
    sum=sum*10+rem
    num=num//10
if(sum==temp):
    print("polendrome number")
else:
    print("not polendrome number")

enter a number 121

polendrome number

In [24]:
# string polendrome -->>

str="saras"
start=0
end=len(str)-1
while(start < end):
    if str[start]==str[end]:
        start=start+1
        end=end-1
    else:
        print("not polindrome")
        break
else:
    print("polindrome")

polindrome

In [34]:
# print first 10 even number  ->>
n=1
while(n<22):
    if(n%2==0):
        print(n,end=", ")
    n+=1

2, 4, 6, 8, 10, 12, 14, 16, 18, 20,

In [36]:
# print first 10 odd number ->>

num=1
while(num<20):
    if(num%2!=0):
        print(num,end=" ,")
    num+=1

1 ,3 ,5 ,7 ,9 ,11 ,13 ,15 ,17 ,19 ,

In [38]:
# print 10 natural number -->


num=1
while(num<11):
    print(num,end=" ,")
    num+=1

1 ,2 ,3 ,4 ,5 ,6 ,7 ,8 ,9 ,10 ,

In [7]:
# print 10 whole number ->>
num=0
while(num<10):
    print(num,end=" ,")
    num+=1

0 ,1 ,2 ,3 ,4 ,5 ,6 ,7 ,8 ,9 ,

In [36]:
# print 10,20,30,... using for loop

num=10
while(num<=100):
    print(num,end=" ,")
    num=num+10

10 ,20 ,30 ,40 ,50 ,60 ,70 ,80 ,90 ,100 ,

In [72]:
# print 10 natural number in reverse

num=10
while(num>0):
    print(num,end=", ")
    num-=1

10, 9, 8, 7, 6, 5, 4, 3, 2, 1,

In [78]:
# sum of 10 even number

sum=0
num=1
while(num<=20):
    if(num%2==0):
        sum+=num
    num+=1
print(sum)

110

In [114]:
n=1
num=int(input("enter a number"))
while(n<10):
    n+=1
    print(num,"*",n,"=",num*n)

enter a number 5

5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [133]:
# print number btw 100 to 500 which is devisible by 13 but not divisible by 3 ? -->>

x=100
while(x<=500):
    if(x%13==0 and x%3!=0):
        print(x,end=" ,")
    x+=1

104 ,130 ,143 ,169 ,182 ,208 ,221 ,247 ,260 ,286 ,299 ,325 ,338 ,364 ,377 ,403 ,416 ,442 ,455 ,481 ,494 ,

In [163]:
# print series 1  4 ,9 ,16 ... so on ->

num=1
while(num<=10):
    print(num**2,end=" ,")
    num+=1

1 ,4 ,9 ,16 ,25 ,36 ,49 ,64 ,81 ,100 ,

In [161]:
2**2

4