# Function

In [ ]:
# Function
def msg(username):
    print("hello " ,username)

msg("sonu")
msg("hello world")

In [67]:
def sumNo(z,y):
    print(z+y)
sumNo(30,20)

50

In [ ]:
x=19

def func(age):
    print(age,id(age))
func(x)

In [ ]:
def func1(salary):
    print(salary,id(salary))
func1(2000)

In [ ]:
def func(mylist):
    mylist.append('sonu')
    print(mylist)
    
newlist = [10, 20]
print("newlist is", newlist, id(newlist))  # Fixed: Using id(newlist) instead of id(mylist)
func(newlist)


print("after function newlist",newlist,id(newlist))

In [ ]:
# function

# we need to create a function which will print true or false
# when a number is even
# number input should be given by user


num=int(input('enter the number'))
if(num%2==0):
    print('True')
else:
    print('False')
    print(num,type(num))

In [ ]:
def func(x):
    if(x%2==0):
        print(True)
    else:
        print(False)
num=int(input('enter the number'))
func(num)

In [ ]:
def func(x):
    print(x+10)
func(10)

In [ ]:
def func(x):
    return True

# outiside functio
out=func(10)
print('out value is',out)

In [75]:
 # write down a function a print their lcm
def func(x,y):
    print("x+y is",x+y)
func(10,20)

x+y is 30

In [85]:
def func(x,y):
    if(x>y):
        greatest=x
    else:
        greatest=y
    while(True):
        if(greatest%x==0 and  greatest%y==0):
            print("lcm" , greatest)
            break
        else:
            greatest+=1



func(2,5)

lcm 10

In [32]:
def employee(eid, ename, eemail):
    print("empoyee information has ","\neid-",eid,"\nename-",ename,"\neemail-",eemail)

In [36]:
employee(10,"sonu" ,"kumar2123gmail.com")

empoyee information has
eid- 10
ename- sonu
eemail- kumar2123gmail.com

In [40]:
# positional argument

def employee(eid, ename, eemail):
    print("empoyee information has ","\neid-",eid,"\nename-",ename,"\neemail-",eemail)
employee(10,"sonu" ,"kumar2123gmail.com")

empoyee information has
eid- 10
ename- sonu
eemail- kumar2123gmail.com

In [51]:
# keyword argument

def employee(eid, ename, eemail):
    print("empoyee information has ","\neid:",eid,"\nename:",ename,"\neemail:",eemail)
employee( ename="sonu",eid=10 ,eemail="kumar2123gmail.com")

empoyee information has
eid: 10
ename: sonu
eemail: kumar2123gmail.com

In [64]:
# default argument  ->> declairation me assign hota h
# isme uper  bhi value d skte h
# age uper or neeche dono jagah dete h to neeche ki value lega


def employee(eid, ename, eemail="sonu@gmail.com"):
    print("empoyee information has ","\neid:",eid,"\nename:",ename,"\neemail:",eemail)
employee( ename="sonu",eid=10)

empoyee information has
eid: 10
ename: sonu
eemail: sonu@gmail.com

In [82]:
# variable length argument

def employee(*detail):
    print(detail,detail[0])
          
employee(10,20,30)
employee(15,25,35,"hello")

employee(0)

(10, 20, 30) 10
(15, 25, 35, 'hello') 15
(0,) 0

In [80]:
def employee(**detail):
    print(detail)
    
employee(age=10,salary=20)
employee(salary=50,age=20,msg='hello')

{'age': 10, 'salary': 20}
{'salary': 50, 'age': 20, 'msg': 'hello'}

 qQuestion -->>> Args and Kwards

In [99]:
# create a python function which takes a number as an int and return the list

# list contain all the fctors of a number includingn 1 by dfefault 
# 10
# [1,2,5,10]

# 7
# [1,7]

    
def number(x):
    mylist=[1]
    for i in range(2,x+1):
        if(x%i==0):
            mylist.append(i)

    return mylist
out=number(19)
print(out)
    
#     print(x)
# for i in range(1,10):
#     if(num%number==0):
#         print(num)
#     else:
#         print(false)
# number(5)

[1, 19]

# Lambda function

In [102]:
# Lambda function

# a function that is define without a name and print a single line
# it is called annonimous function
# it is called in-line  or one-line function
# code readable

In [112]:
def square(x):
    return x**2

square(4)

16

In [120]:
# Lambda parameter , para : expression

out=lambda x:print( x**2)

print(out(25))

625
None

In [122]:
# map , filter ,reduce

# high order function

# map

# [10,20,30,40]

In [142]:
def sumno(num):
    return num+20

mylist=[10,20,30,55,60]

list (map (sumno,mylist))

[30, 40, 50, 75, 80]

In [152]:
mylist=[10,20,30,55,60]
list (map(lambda num: num+50 , mylist))

[60, 70, 80, 105, 110]