In [27]:
## string indexing and slicing ==>>

msg="jaipur"
print(msg[1:6:2])
print(msg[1])

apr
a

In [29]:
for j in range(7,1,-1):
    print(j)

7
6
5
4
3
2

In [53]:
state="Rajasthan"
print(state[0])
print(state[2:7:3])
print(state[-1:-4:-1])
print(state[3:8:2])
print(state[-4:-2:])

R
jt
nah
ata
th

In [63]:
## list datatype ==..>>

#-->> collectin of values 
# => LIST IS mutable datatype
# ==> it is the orderd collection of element


mylist=[10,20,30,'asd']
print(mylist)
print(type(mylist))

[10, 20, 30, 'asd']
<class 'list'>

In [67]:
mylist[2:5]

[30, 'asd']

In [71]:
mylist[3]

'asd'

In [75]:
mylist[0]=50
print(mylist)

[50, 20, 30, 'asd']

In [79]:
mylist[0:2]=["a","b"]
print(mylist)

['a', 'b', 30, 'asd']

In [9]:
# append insert only 1 element vo bhi last me
# mylist.append(100)
# mylist

In [87]:
# pop = delect last element 
mylist.pop()
mylist

['a', 'b', 30, 'asd']

In [91]:
## itrable == >> ek aisa data jiske uper ham loop chla skte h.
# extend => insert more than one element in list

mylist.extend([99,95,90])
print(mylist)

['a', 'b', 30, 'asd', 99, 95, 90, 99, 95, 90]

In [99]:
mylist.pop()
print(mylist)

['a', 'b', 30, 'asd', 99, 95]

In [103]:
print(mylist)

['a', 'b', 30, 'asd', 99, 95]

In [117]:
## loop in list ==>>
# direct
for i in [10,20,30,'abc','xyz',100]:
    print(i)

10
20
30
abc
xyz
100

In [129]:
mylist=[10,15,20,25,'hello']
mylist[4]
for index in range(0,5):
    print(index)

0
1
2
3
4

In [149]:
# find even in list =>

list1=[2,6,10,20,15,17,30]
for i in list1:
    if(i%2==0):
        print(i)

2
6
10
20
30

In [187]:
# ques if value is int than print their squire=>>

list2=[10,20,10.5,15,17,16.5,"hello"]
for i in list2:
    if (type(i))  is  int:
        print(i**2)

100
400
225
289

In [239]:
mylist=[]
list2=[10,20,10.5,15,17,16.5,"hello"]
for i in list2:
    if (type(i))  is  int:
        print(i**2)

print(mylist)

100
400
225
289
[]

In [191]:
17**2

289

In [235]:
x=10
list3=[10,10,20,30,40,'hii',10.5]
if (x in list3):
    print("True")
else:
    print("False")

True

In [317]:

mylist=[10,10,20,20,20,30,40,60,70]
duplicate=[]
x=0
for i in range(0,len(mylist)):
    for j in range(i+1,len(mylist)):
        if mylist[i] == mylist[j]:
            if (mylist[i] not in duplicate):
                duplicate.append(mylist[i])
print(duplicate)
    #         x=x+1
    #         break
    #     print("this is duplicate value")
    # else:
    #     print("not a duplicate vlaue")

[10, 20]